
/* 弹性盒模型 */
.flex {
	display: flex;
}
.space-around {
	justify-content: space-around;
}
.space-between {
	justify-content: space-between;
}
.flex-end {
	justify-content: flex-end;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-center {
	align-items: center;
}
.flex-baseline {
	align-items: baseline;
}
.flex-start {
	align-content: flex-start;
}
.justify-center {
	justify-content: center;
}